        <li>
          {% if section.href %}
            <a class="usa-nav-link" href="{{ section.href }}">
              {{ section.title }}
            </a>
          {% else %}
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="primary-nav-{{ section.id }}">
            <span>{{ section.title }}</span>
          </button>
          <ul id="primary-nav-{{ section.id }}" class="usa-nav-submenu">
            {% for link in section.links %}
            <li>
              <a href="{{ link.href }}">{{ link.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>

