{% include include_path + '_skip-nav.njk' %}
<header class="usa-header usa-header-basic usa-header-basic-megamenu" role="banner">
  {% render '@banner' %}
  <div class="usa-nav-container">
    {% include include_path + '_masthead.njk' %}
    <nav role="navigation" class="usa-nav">
      <div class="usa-nav-inner">
        {% include include_path + '_nav-close.njk' %}
        {% include include_path + '_nav-primary.njk' %}
        {% include include_path + '_search-form.njk' %}
      </div>
    </nav>
  </div>
</header>
<div class="usa-overlay"></div>
<main id="main-content"></main>
