{% include include_path + '_skip-nav.njk' %}
<header class="usa-header usa-header-extended" role="banner">
  {% render '@banner' %}
  {% include include_path + '_masthead.njk' %}
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      {% include include_path + '_nav-close.njk' %}
      {% include include_path + '_nav-primary.njk' %}
      {% include include_path + '_extended-nav.njk' %}
    </div>
  </nav>
</header>
<div class="usa-overlay"></div>
<main id="main-content"></main>
